:root {
    --bg-btn: rgb(200, 212, 154);
    --bg-light: rgb(178, 210, 199);
    --bg-box: rgba(212, 185, 218, 0.749);
    --text-color: rgb(249, 129, 0);
    --text-red: red;
    --text-blue: blue;
    --text-green: rgb(2, 63, 2);
    --text-black: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Tahoma, sans-serif;
    background: var(--bg-light);
}

.text-black {
    color: var(--text-black);
}

.text-red {
    color: var(--text-red);
}

.text-blue {
    color: var(--text-blue);
}

.text-green {
    color: var(--text-green);
}

.btn {
    padding: .6rem 2rem;
    outline: none;
    border: 2px solid var(--text-red);
    border-radius: 50px;
    cursor: pointer;
    background-color: var(--bg-btn);
    color: black;
    font-weight: bold;
    font-size: 1em;
    transition: all .5s ease;
}

.btn:hover {
    transform: scale(1.02);
}

.start-btn:hover {
    transform: scale(1.05);
}

.click-btn:active {
    transform: scale(1.08);
}

.small-box {
    padding: .3rem 1rem;
    outline: none;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--bg-box);
    color: var(--text-red);
    font-size: 1em;
}

/* Container */
.container {
    padding: 1rem 0;
}

/* Main Body */
.body-container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height: 100%;
    padding: 3rem 0 5rem 0;
}

.body-contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 60%;
    padding: 1rem;
    border: 2px solid var(--text-black);
    border-radius: 10px;
}

/* Heading */

.main-heading {
    font-size: 1.3em;
}

.sub-heading {
    font-size: 1.1em;
}

/* Input Container */
.input-contain {
    padding: .6rem 2rem;
    font-size: 1em;
    cursor: pointer;
    outline: none;
    border: 2px solid var(--text-red);
    border-radius: 50px;
    color: var(--text-black);
    background-color: var(--bg-btn);
}

/* Number of Guesses Container */
.guesses-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/* Guess And Random Number Container */
.guess-and-random-number-container {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.guess-number-contain {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.random-number-contain {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 1rem;
}

.padd-n {
    padding: 1rem 0;
}

/* Winner Container */
.winner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Start Button */
.start-btn {
    margin-top: 1rem;
}

/* Meadia Media Query*/
@media only screen and (max-width: 800px) {

    .body-container {
        padding: 1rem 0;
    }

    .body-contain {
        width: 100%;
        padding: 1rem 0;
        border: none;
        border-radius: none;
    }

    .main-heading {
        font-size: 1.1em;
    }

    .sub-heading {
        font-size: 1em;
    }
}

@media only screen and (max-width: 500px) {

    .input-contain {
        padding: .6rem 1rem;
        font-size: .95em;
    }

    .btn {
        padding: .6rem 1.5rem;
        font-size: .95em;
    }

    .main-heading {
        font-size: .95em;
        padding: 5px;
    }

    .sub-heading {
        font-size: .85em;
    }
}